# Python
__pycache__/
*.pyc
venv/
myenv/
backend/venv/
.env
backend/.env
*.task

# Node / React
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Build
build/
dist/

# IDE
.vscode/
.idea/

# Python virtual environments
venv/
myenv/

